<div class="container mx-auto mt-3">
  <mat-card>
    <div class="font-semibold text-lg tracking-wider">XDock ShipIT</div>
    <div class="font-semibold text-sm tracking-wider">Launchpad</div>
  </mat-card>

  <div class="lg:flex justify-center gap-10 mt-5">
    <mat-card class="w-full mb-3">
      <mat-card-title class="text-lg"
        >Capacity Booking for Trailers</mat-card-title
      >
      <mat-card-content>
        <p>XBR</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button routerLink="xbr">
          <mat-icon>launch</mat-icon>
          Open
        </button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="w-full mb-3">
      <mat-card-title class="text-lg"
        >Transport Request for Unregistered Goods</mat-card-title
      >
      <mat-card-content>
        <p>XTBR</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button routerLink="xtbr">
          <mat-icon>launch</mat-icon>
          Open
        </button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="w-full mb-3">
      <mat-card-title class="text-lg"
        >Capacity Booking for Containers</mat-card-title
      >
      <mat-card-content>
        <p>CBR</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button routerLink="cbr">
          <mat-icon>launch</mat-icon>
          Open
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
